.container {
  color: #36494e;
  margin: 0 auto;
  background-color: #a9cef4;
  border-radius: 1rem;
  max-width: 50%;
  padding: 2rem 0;
  line-height: 2rem;

  a {
    color: #36494e;
    border-radius: 1rem;
    text-decoration: none;
    background-color: #caff8a;
    margin-top: 2rem;
    padding: 0.2rem 2rem;
  }
}
