.container {
  color: #b4b8c5;
  margin: 0 auto;
  background-color: #262626;
  border-radius: 1rem;
  max-width: 50%;
  padding: 2rem 0;
  line-height: 2rem;

  a {
    color: #262626;
    border-radius: 1rem;
    text-decoration: none;
    background-color: #473bf0;
    margin-top: 2rem;
    padding: 0.2rem 2rem;
  }
}
