.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #262626;
}

.modal {
  max-width: 540px;
  width: 100%;
  padding: 2rem 4rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
