@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  background-color: #eddfe7;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 1080px;
  height: 100%;
  text-align: center;
  color: white;
  font-family: "Roboto";
}
